
streamlit
pandas
numpy
scipy
yfinance
arch
xgboost
scikit-learn
matplotlib
requests
py5paisa
pyjwt
plotly
streamlit==1.36.0
pandas==2.2.2
numpy==1.26.4
requests==2.32.3
py5paisa==0.7.3
arch==6.3.0
xgboost==2.1.0
scikit-learn==1.5.0
plotly==5.22.0
kaleido==0.2.1
